*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex; 
    justify-content: center;
}
#container{
   width: 100%;
   max-width: 1000px;
   height: 100%;
   min-height: 1000px;
}
header{
    /* height: 30%; */
    background: url('../image/slide1.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}
.social{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.social>*{
    font-size: 14px;
    background: white;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* height: 55px; */
    background: white;
}
nav>.logo{
    width: 60px;
    height: 60px;
    background-image: url('../image/logo.png');
    background-size: cover;
}
nav>.logo>.inLogo{
    display: none;
}
nav>h3{
    font-size: 28px;
    color: red;
    margin-left: 2%;
}
nav>ul{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}
nav>ul>li{
    height: 100%;
    border-top: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>ul a{
    display: inline-block;
    padding: 5px 10px;
    color: #555;
    font-size: 14px;
}
nav ul li:hover a{
    color: orange;
}
nav ul li:hover{
   border-top: 2px solid orange; 
}
header>h2{
    color: white;
    font-size: 30px;
    border-bottom: 2px solid white;
    margin-top: 5%;
}
header>p{
    font-size: 14px;
    color: white;
    margin-top: 1%;
}
header>button{
    font-size: 12px;
    color: white;
    background: red;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
}
/* ----------------- */
section, article{
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 2vw; */
    padding-top: 2%;
}
section>h3, article>h3{
    border-bottom: 1px solid black;
}
section>p, article>p{
    color: #555;
    font-size: 16px;
    margin-top: 1%;
}
/* --------------- */
section>.items{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    /* padding-bottom: 1vw; */
}
section>.items>*{
    font-size: 18px;
    width: 160px;
    height: 160px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
section>.items>*:nth-child(1){
    background: #1BBC9A;
}
section>.items>*:nth-child(2){
    background: #E67F22;
}
section>.items>*:nth-child(3){
    background: #3598DB;
}
section>.items>*:nth-child(4){
    background: #2BC36D;
}
/* -------------article------------ */
article>.portfolio>div{
    width: 160px;
    height: 160px;
    background-size: cover;
}
article>.portfolio{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
    /* padding-bottom: 1vw; */
}
article>.portfolio>div{
    margin-bottom: 2%;
}

@media only screen and (max-width: 1000px) {
    /* .social>*{
        font-size: 2.5vw;
        width: 5vw;
        height: 5vw;
    }
    nav{
        height: 6vw;
    }
    nav>.logo{
        width: 6vw;
        height: 6vw;
    }
    nav>.menu a{
        font-size: 2vw;
    }
    header>h2{
        font-size: 3.5vw;
        margin-top: 5.5vw;
    }
    header>p{
        font-size: 2vw;
        margin-top: 1.5vw;
    }
    header>button{
        font-size: 2vw;
        padding: 1vw 1.5vw;
        margin-top: 1.5vw;
        margin-bottom: 2vw;
    }


    section>p, article>p{
        font-size: 2vw;
    }
    #container{
        width: 100%;
    } */
    section>.items>*{
        /* font-size: 3vw; */
        width: 16vw;
        height: 16vw;
    }
    article>.portfolio>div{
        width: 16vw;
        height: 16vw;
        /* margin-bottom: 2vw; */
    } 
}
@media only screen and (max-width: 760px) {
    nav{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* height: 100px; */
        background: rgba(255, 255, 255, 0.4);
    }
    nav>h3{
        margin-top: 1%;
        margin-left: 0;
    }
    /* .social>*{
        font-size: 3vw;
        width: 5.5vw;
        height: 5.5vw;
    }
    nav{
        height: 6vw;
    }
    nav>.logo{
        width: 6vw;
        height: 6vw;
    }
    nav>h3{
        font-size: 3.3vw;
    }
    nav>ul a{
        font-size: 2vw;
    }
    header>h2{
        font-size: 4vw;
        margin-top: 5.5vw;
    }
    header>p{
        font-size: 2.5vw;
        margin-top: 1.5vw;
    }
    header>button{
        font-size: 2.5vw;
        margin-top: 1.5vw;
        margin-bottom: 2vw;
    }


    section>p, article>p{
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }
    section>.items{
        flex-wrap: wrap;
    }
    section>.items>*{
        font-size: 4vw;
        width: 32vw;
        height: 32vw;
        margin-bottom: 3vw;
    }
    article>.portfolio>div{
        width: 32vw;
        height: 32vw;
        margin-bottom: 3vw;
    } */
}
@media only screen and (max-width: 380px) {
    .social>*{
        font-size: 4.5vw;
        width: 8vw;
        height: 8vw;
    }
    nav{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    nav>.logo{
        width: 9vw;
        height: 9vw;
    }
    nav>.logo>.inLogo{
        display: block;
        width: 100%;
        height: 100%;
    }
    nav>h3{
        font-size: 6vw;
        width: 60vw;
        text-align: end;
        padding-right: 2vw;
    }

    nav>ul{
        display: none;
    }
    .menu{
        width: 100%;
        height: 0;
        /* display: block; */
        overflow: hidden;
    }
    .menu>li{
        height: auto;
        display: flex;
        justify-content: center;

    }
    .menu>li>a{
        color: #555;
        width: 100%;
        text-align: center;
        font-size: 4vw;
        padding: 6px;
    }
    .menu>li>a:hover{
       color: white;
       background: orange;
    }

    header>h2{
        color: #000;
        font-size: 5.5vw;
        margin-top: 5.5vw;
        border-bottom-color: #000;
    }
    header>p{
        color: #000;
        font-size: 2.5vw;
        margin-top: 1.5vw;
    }
    header>button{
        font-size: 2.5vw;
        margin-top: 1.5vw;
        margin-bottom: 2vw;
    }
    section>p, article>p{
        font-size: 3vw;
    }
    section>.items{
        flex-wrap: wrap;
    }
    section>.items>*{
        font-size: 6vw;
        width: 64vw;
        height: 64vw;
        margin-bottom: 3vw;
    }
    article>.portfolio>div{
        width: 64vw;
        height: 64vw;
        margin-bottom: 3vw;
    }
    
    .drop_down{
        display: block;
        animation: openMenu .5s linear;
        animation-fill-mode: forwards;
    }
    
 

    @keyframes openMenu {
        0%{height: 0;}
        100%{height: 56vw;}
    }
  
}