*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex; 
    justify-content: center;
}
#container{
   width: 80%;
   height: 100%;
}
header{
    height: 40%;
    background: url('../image/slide1.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
#social{
    padding: 10px;
    display: flex;
    justify-content: center;
}
#social>*{
    display: inline-block;
    background: white;
    width: 30px;
    height: 30px;
    padding: 9px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 20%;
    background: white;
}
nav>.logo{
    width: 8%;
    height: 100%;
    background-image: url('../image/logo.png');
    background-size: cover;
}
nav>ul{
    height: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    padding-right: 8%;
}
nav>ul>li{
    height: 100%;
    border-top: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>ul a{
    display: inline-block;
    padding: 10px 10px;
    color: #555;
    font-size: 14px;
}
li:hover a{
    color: orange;
}
li:hover{
   border-top: 2px solid orange; 
}
