#dd{
    transition: 1s;
    position: relative;
    width: 100px;
    left: 600px;
    top: 300px;
}
#d1, #d2{
    width: 100px;
    height: 100px;
    position: absolute;
}

#d1{
    background: gold;
}
#d2{
    background:blue;
}

#dd:hover{
    transform: rotateY(180deg);
}