*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    transform-origin: 50% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform:  translate(-50%, -50%) rotateX(-40deg) rotateZ(-20deg);
}
div{
    width: 400px;
    height: 300px;
    /* border: 1px solid #888; */
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: perspective(2000px) rotateY(0deg);
    animation: rot 6s linear infinite;
    
}
span{
    width: 200px;
    height: 300px;
    background: linear-gradient(#888, #bbb);
    border: 1px solid #888;
    border-radius: 10px 50% 10px 10px;
    display: block;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 100% 100%;
    /* transform: rotateZ(-30deg); */
}
p{
    position: absolute;
    width: 200px;
    height: 300px;
    transform-origin: 100% 0%;
}
div p:nth-child(1) span{
    transform: perspective(0px) rotateZ(-20deg);
}
div p:nth-child(2) span{
    transform: perspective(0px) rotateZ(-20deg);
}
div p:nth-child(3) span{
    transform: perspective(0px) rotateZ(-20deg);
}
div p:nth-child(4) span{
    transform: perspective(0px) rotateZ(-20deg);
}
div p:nth-child(5) span{
    transform: perspective(0px) rotateZ(-20deg);
}
div p:nth-child(6) span{
    transform: perspective(0px) rotateZ(-20deg);
}
div p:nth-child(7) span{
    transform: perspective(0px) rotateZ(-20deg);
}
div p:nth-child(8) span{
    transform: perspective(0px) rotateZ(-20deg);
}

div p:nth-child(1){
    transform: rotateY(0deg);
}
div p:nth-child(2){
    transform: rotateY(45deg);
}
div p:nth-child(3){
    transform: rotateY(90deg);
}
div p:nth-child(4){
    transform: rotateY(135deg);
}
div p:nth-child(5){
    transform: rotateY(180deg);
}
div p:nth-child(6){
    transform: rotateY(225deg);
}
div p:nth-child(7){
    transform: rotateY(270deg);
}
div p:nth-child(8){
    transform: rotateY(315deg);
}
@keyframes rot{
    0%{transform: perspective(2000px) rotateY(0deg);}
    100%{transform: perspective(2000px) rotateY(359deg);}
}