*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body, #wrapper{
    width: 100%;
    min-width: 380px;
}
header{
    color: #fff;
    font: 500 14px/24px 'Roboto',sans-serif;
    width: 100%;
    background: #3a3c3e;
    display: flex;
    justify-content: center;
}
header>.size{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px 15px 12px;
}
header>.size>.about{
    width: 83%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header>.size>.about i{
    color: #37ca8a;
}

header>.size>.about>*{
    margin-right: 10px;
    padding: 0 10px;
}
header>.size>.social{
    width: 17%;
    min-width: 106px;
    display: flex;
    justify-content: center;
}
header>.size>.social a{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    color: #fff;
    background: #464a4d;
    line-height: 25px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    transition: all .5s ease;
}
header>.size>.social a:hover {
    background: #37ca8a;
}
nav{
    padding: 28px 0;
    position: sticky;
    top: -35px;
    z-index: 100;
}
nav>.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px 15px;
}
nav>.container>.size{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>.container>.size>.logo{
    width: 25%;
    display: flex;
    justify-content: center;
}
nav>.container>.size>ul{
    width: 75%;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
nav a{
    color: #25313d;
    display: inline-block;
    transition: all .5s ease;
}
nav>.container>.size>ul>li:last-child a{
    padding-left: 50px;
}
nav>.container>.size>ul>li:not(:last-child ) a{
    padding: 0 25px;
}
nav a:hover{
    color: #37ca8a;
}
nav>.container>.size>ul>li:nth-child(3)>a::after{
    content: '';
    width: 5px;
    height: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    transform: rotateZ(45deg);
    margin-left: 5px;
    position: relative;
    top: -3px;
    transition: all .5s ease;
}
nav>.container>.size>ul>li:nth-child(3){
    position: relative;
}
nav>.container>.size>ul>li:nth-child(3)>ul{
    position: absolute;
    width: 150px;
    background: #3a3c3e;
    padding: 15px 0;
    left: 50%;
    transform: translate(-50%,15px);
    /* transition: all .2s ease;
    visibility: hidden;
    opacity: 0; */
    display: none;
}
/* nav>.container>ul>li:nth-child(3):hover>ul{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 15px);
    
} */
nav>.container>.size>ul>li:nth-child(3)>ul::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #3a3c3e;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    left: 43%;
    top: -2%;
}
nav>.container>.size>ul>li:nth-child(3)>ul>li>a{
    color: #fff;
    display: block;
    padding: 4px 20px;
}
nav>.container>.size>ul>li:nth-child(3)>ul>li>a:hover{
    color: #37ca8a;
}
nav>.container>.size>ul>li:nth-child(3)>a:hover::after{
    border-right: 1px solid #37ca8a;
    border-bottom: 1px solid #37ca8a;
}
nav>.container>.size>ul>li:last-child{
    position: relative;
}
/* ---------------------------LOGIN----------------------- */
nav>.container>.size>ul>li:last-child>.login{
    width: 330px;
    background: white;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 30px;
    border-top: 15px solid #3a3c3e;
    border-bottom: 15px solid #3a3c3e;
    /* visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear; */
    display: none;
}
nav>.container>.size>ul>li:last-child>.login::before{
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-left: 15px solid #3a3c3e;
    top: -30px;
    right: -15px;
    transform: rotate(45deg);
}
nav>.container>.size>ul>li:last-child>.login>form{
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
nav>.container>.size>ul>li:last-child>.login>form>input{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 16px;
    padding: 0 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dedede;
    transition: all 1s ease;
}
nav>.container>.size>ul>li:last-child>.login>form>input:focus {
    border-bottom: 1px solid #3a3c3e;
}
nav>.container>.size>ul>li:last-child>.login>form>label{
    margin-bottom: 16px;
    display: flex;
}
nav>.container>.size>ul>li:last-child>.login>form #checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin-right: 5px;
}
nav>.container>.size>ul>li:last-child>.login>form button{
    width: 80px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    background: #37ca8a;
    border: none;
    margin-bottom: 16px;
    padding: 0 14px;
    cursor: pointer;
    transition: all .3s ease;
}
nav>.container>.size>ul>li:last-child>.login>form button:hover{
    background: black;
}
nav>.container>.size>ul>li:last-child>.login>.link>a{
    padding-left: 0;
    display: block;
}
nav>.container>.size>ul>li:last-child>.login>.social>*{
    display: inline-block;
    padding: 10px 15px;
    background: #37ca8a;
    margin-top: 4px;
}
nav>.container>.size>ul>li:last-child>.login>.social>*:hover{
    background: black;
}
/* nav>.container>ul>li:last-child:hover>.login *,
nav>.container>ul>li:last-child:hover>.login{
    top: 40px;
    visibility: visible;
    opacity: 1;
} */
/* -------------------------slider--------------------------------- */
#slider{
    width: 100%;
    height: 40vw;
    /* max-height: 500px; */
    position: relative;
    overflow: hidden;
    z-index: 9;
}
#slider>.item{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#item1{
    background-image: url('../images/slide-1.jpg');
    left: 0%;
}
#item2{
    background-image: url('../images/slide-2.jpg');
    left: 100%;
    /* display: none; */
}
#slider .swiper-button,
.workers>.workers_team .swiper-button{
    color: white;
    font-size: 18px;
    line-height: 15px;
    padding: 10px;
    width: 36px;
    height: 36px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    transform-origin: center center;
    transform: translate(0,-50%);
    cursor: pointer;
    transition: all 0.5s ease;
}
#slider .swiper-button:hover{
    background: #37ca8a;
}
#slider .prev,
.workers>.workers_team .left{
    left: 5%;
    transform: rotate(135deg);
}
#slider .next,
.workers>.workers_team .right{
    right: 5%;
    transform: rotate(-45deg);
}
/*-------------------------- inside slide --------------------------*/
.slide_content{
    color: white;
    position: absolute;
    /* width: 60%; */
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 40px;
}
.slide_content h2{
    font-size: 40px;
    font-weight: 100;
}
.slide_content p{
    white-space: nowrap;
}
.slide_content span{
    font-weight: 700;
}
.slide_content a{
    color: white;
    font-weight: 500;
    display: inline-block;
    background: #37ca8a;
    padding: 15px 30px;
    margin-top: 30px;
    transition: all .3s ease;
}
.slide_content a:hover{
    color: #37ca8a;
    background: black;
}
.slide_content .content::before{
    content: '';
    width: 44px;
    height: 44px;
    display: inline-block;
    position: absolute;
    border-left: 3px solid #37ca8a;
    left: 2%;
}
.slide_content .content::after{
    content: '';
    width: 44px;
    height: 44px;
    display: inline-block;
    position: absolute;
    border-right: 3px solid #37ca8a;
    right: 2%;
}
.slide_content .conetn_1::before,
.slide_content .conetn_1::after{
    border-top: 3px solid #37ca8a;
    top: -10%;
}
.slide_content .conetn_2::before,
.slide_content .conetn_2::after{
    border-bottom: 3px solid #37ca8a;
    top: 50%;
}
/* -------------------------------------------------------------------- */
section{
    display: flex;
    flex-wrap: wrap;
}
section .section_date{
    width: 33.3%;
    padding: 90px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .section_date>*{
    width: 100%;
    max-width: 290px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
section .section_date img{
    width: 45px;
}
section .section_date>h2{
    font-size: 35px;
}
section .section_date a{
    color: black;
    transition: all .5s ease;
}
section .section_date a:hover{
    color: #37ca8a;
}
section .section_date>.section_next a{
    font-weight: 800;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}
section .section_date:nth-child(1),
section .section_date:nth-child(2),
section .section_date:nth-child(3){
    border-bottom: 1px solid #ddd;
}
section .section_date:nth-child(2),
section .section_date:nth-child(5){
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
/* ----------------------------------article--------------------------- */
article{
    width: 100%;
    height: 600px;
    background: white;
    padding-top: 3%;
    padding-bottom: 3%;
}
article>.article_green{
    width: 100%;
    height: 100%;
    background: #37ca8a;
    display: flex;
    justify-content: center;
}
/* article>.article_green>.article_content{
    padding: 90px 15px;
    height: 390px;
} */
article>.article_green>.article_content{
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    padding: 90px 15px;
    /* height: 500px; */
    background: #3a3c3e;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
article .article-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
article .article-1>h4{
    font-size: 24px;
    color: #74787c;;
}
article .article-1>h2{
    font-size: 40px;
    color: white;;
}
article .article-1>h2>span{
    font-weight: 100;
}
article .article-1>p{
    color: white;;
}
article .article-2{
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
}
article .article-2>.count{
    width: 25%;
}
article .article-2>.line{
    height: 130px;
    border-left: 1px solid #494a4b;
    transform: rotate(20deg);
}
article .article-2>.count>p{
    text-align: center;
}
article .article-2>.count>p:first-child{
    color: #37ca8a;
    font-size: 72px;
    font-weight: 700;
}
article .article-2>.count>p:last-child{
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
article .article-3{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
article .article-3>a{
    color: white;
    font-size: 14px;
    font-weight: 900;
    background: #37ca8a;
    border: 2px solid #37ca8a;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.5s ease;
}
article .article-3>a:hover{
    color: #37ca8a;
    border: 2px solid white;
    background: #3a3c3e;
}
article .article-3>span{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
}
/* --------------------workers slide---------------------------- */
.workers{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 10px;
}
.workers>.size{
    width: 100%;
    max-width: 1200px;
}
.workers>.size.head{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 35px;
}
.workers>.size.head>h2>span{
    font-weight: 100;
}
.workers>.workers_team{
    height: 618px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 60px;
}
.workers>.workers_team .swiper-button{
    position: absolute;
    color: #a7a7a7;
    border: 1px solid #a7a7a7;
}
.workers>.workers_team .left{
    left: 2%;
}
.workers>.workers_team .right{
    right: 2%;
}
.workers>.workers_team .swiper-button:hover{
    color: white;
    background: #37ca8a;
    border: 1px solid white;
}
.workers>.workers_team>.team_wrap{
    width: 33.3%;
    min-width: 320px;
    height: 100%;
    position: relative;
}
.workers>.workers_team>.team_wrap>.team{
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    /* display: inline-block; */
    /* background: green; */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 40px 0 40px;
    transition: left .5s ease;
}
.workers>.workers_team>.team_wrap>.team>.flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px;
}
.workers>.workers_team>.team_wrap>.team img{
    border-radius: 50%;
    margin-top: 50px;
}
.workers>.workers_team>.team_wrap>.team h3{
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
}
.workers>.workers_team>.team_wrap>.team .post{
    color: #9b9b9b;
}
.workers>.workers_team>.team_wrap>.team .tell{
    margin-top: 30px;
    padding-top: 10px;
    font-weight: 100;
    border-top: 1px solid #e5e7e9;
}
.workers>.workers_team>.team_wrap>.team .email{
    margin-top: 10px;
    font-weight: 100;
}
.workers>.workers_team>.team_wrap>.team i{
    color: #37ca8a;
    margin-right: 8px;
}
.workers>.workers_team>.team_wrap>.team a{
    color: black;
}
/* ----------------------------------request_callback----------------------------- */
.request_callback{
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.request_callback>.size{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}
.request_callback>.size>.container{
    width: 100%;
    padding: 90px 40px 60px;
    background: #37ca8a;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.request_callback>.size>.container::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 27px 0 27px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.request_callback>.size>.container>h2{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}
.request_callback>.size>.container>h2>span{
    font-weight: 100;
}
.request_callback>.size>.container>.callback{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.request_callback>.size>.container>.callback>*{
    width: 24%;
    height: 52px;
    padding: 14px 25px;
    margin-bottom: 40px;
    border: none;
    outline: none;
}
.request_callback>.size>.container>.callback>input::placeholder{
    color: #aaa;
}
.request_callback>.size>.container>.callback>button{
    color: white;
    font-weight: 700;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}
.request_callback>.size>.container>.callback>button:hover{
    background: #000;
}
/* ---------------------------------------main-------------------------------- */
.main{
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    background: url("../images/bg_2.jpg") 50% 50% no-repeat fixed;
}
.main>.size{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}
@media only screen and (max-width: 1000px) {
    nav>.container>.size>.logo{
        width: fit-content;
    }
    nav>.container>.size>ul{
        width: fit-content;
        justify-content: flex-end;
    }
    nav>.container>.size>ul>li:not(:last-child ) a{
        padding: 0 15px;
    }

    .slide_content h2{
        font-size: 30px;
    }
    .slide_content p, .slide_content a{
        font-size: 14px;
    }
}
@media only screen and (max-width: 800px) {
    nav>.container>.size>ul>li:last-child a{
        padding-left: 35px;
    }
    nav>.container>.size>ul>li:not(:last-child ) a{
        padding: 0 10px;
    }

    .workers>.workers_team .swiper-button{
        top: 93%;
    }
    .workers>.workers_team .left{
        left: 35%;
    }
    .workers>.workers_team .right{
        right: 35%;
    }
}
@media only screen and (max-width: 650px) {
    #wrapper{
        margin-top: 40px;
    }
    header{
        flex-direction: column;
    }
    header>.size>.about{
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        width: 96%;
    }
    header>.size>.about>*{
        margin-right: 0;
    }
    header>.size>.social{
        margin-top: 15px;
        width: 96%;
    }

    .workers>.workers_team>.team_wrap{
        width: 100%;
    }

    .request_callback>.size>.container>h2{
        font-size: 35px;
    }
    .request_callback>.size>.container>.callback{
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .request_callback>.size>.container>.callback>*{
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {

    .request_callback>.size>.container>h2{
        font-size: 25px;
    }


}