*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html, body{
    width: 100%;
    height: 100%;
}
.container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}
header{
    width: 70%;
    height: 80px;
    background: #333333;
    display: flex;
}
nav>ul{
    display: flex;
}