*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.clear{
    clear: both;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.container>.sectionOne{
    background-color: #C41230;
    padding: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionOne .secA, .sectionTwo .secA{
    width: 30%;
    min-width: 300px;
    background-color: #FFFFFF;
    text-align: center;
}
.sectionOne .secB, .sectionTwo .secB{
    width: 67%;
    min-width: 300px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    margin-left: 1.5%;
}

.sectionOne .secA, .sectionOne .secB, .sectionTwo .secA, .sectionTwo .secB{
    float: left;
    border-radius: 3px;
}
.sectionOne .secA h2{
    margin-top: 10px;
}
.sectionOne .secA h2+p{
    color: #0D6495;
}
.sectionOne .secA .pic{
    height: 66px;
    background-color: #F0F0F0;
    /* border: 1px solid #d0d0d0; */
    box-shadow: inset 0 0 9px 0px #888888a6;
    margin-top: 30px;
    position: relative;
}
.sectionOne .secA .red{
    width: 204px;
    height: 85px;
    background-color: #AB0D2E;
    margin: 0 auto;
    position: relative;
    top: -10px;
}
.sectionOne .secA .pic img{
    border: 4px solid white;
    box-shadow: 0 0 7px 1px #888888;
    position: relative;
    top: -10px;
}
.sectionOne .secA .icons{
    margin-top: 30px;
}

.sectionOne .secA .icons a{
    width: 100px;
    color: #888888;
    font-size: 30px;
    display: inline-block;
    line-height: 20px;
}

.sectionOne .secA .icons a span{
    color: #C41230;
    font-size: 12px;
}
.sectionOne .secA .butSecA{
    font-size: 18px;
    color: white;
    background-color: #A91338;
    border: none;
    border-radius: 3px;
    padding: 4px 51px;
    margin: 5px;
}
.sectionOne .secA .secFooterA{
    font-size: 10px;
    background-color: #11253D;
    padding: 5px 0 20px;
    margin: 3px;    
}
.sectionOne .secA .secFooterA a{
    color: #8797A6

}
.sectionOne .secA .secFooterA .butFooter{
    display: inline-block;
    border: 1px solid #20364E;
    border-radius: 2px;
    padding: 2px 10px;
}
.sectionOne .secA .secFooterA .secAlinks{
    padding: 6px 0;
}
.sectionOne .secA .secFooterA .secAlinks a{
    display: inline-block;
    padding: 0 8px;
}
.secFooterA .secAlinks a:nth-child(2){
    border-left: 1px solid #8797A6;
    border-right: 1px solid #8797A6;
}

/* --------------------SectionOne B ----------------------------------*/
.sectionOne .secB{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
}
.sectionOne .secB .secBimg{
    width: 100%;
    margin-top: 10px;
}
.sectionOne .secB p{
    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
}
.sectionOne .secB form{
    padding: 16px 0 8px;
}
.sectionOne .secB form input{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #A7B6C7;
    box-shadow: 0 0 5px 1px #A7B6C7;
}
.sectionOne .secB form input:nth-child(2){
    width: 100px;
}
.sectionOne .secB input[type='submit']{
    font-size: 11px;
    color: white;
    font-weight: 700;
    background-color: #AE2D24;
    padding: 0 10px;
}
/* -------------------SectionTwo A -------------------------- */
.container>.sectionTwo{
    background-color: #00446A;
    padding: 1.5%;
}
.sectionTwo .secA h2{
    background-color: #004469;
    text-align: left;
    margin: 3px;
}
.sectionTwo .secA h2 img{
    margin-left: 5px;
    margin-top: 5px;
}
.sectionTwo .secA p, .sectionTwo .secB p{
    color: #004160;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    margin-top: 20px;
}
.sectionTwo form{
    padding: 10px;
}
.sectionTwo form input{
    height: 23px;
    font-size: 11px;
    border-radius: 4px;
    border: 1px solid #A7B6C7;
    box-shadow: 0 0 5px 1px #A7B6C7;
    padding-left: 5px;
    margin: 6px;
}
.sectionTwo form input:nth-child(1){
    width: 220px;
}
.sectionTwo form input:nth-child(2){
    width: 100px;
}
.sectionTwo input[type='submit']{
    font-size: 13px;
    color: white;
    font-weight: 700;
    height: 25px;
    background-color: #AE2D24;
    padding: 0 10px;
}
.sectionTwo .secA a, .sectionTwo .secB a{
    color: #004160;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 20px;
}
.sectionTwo .secA .obamaBiden{
    margin-top: 30px;
}
/* ------------------------SectionTwo B ----------------- */
.sectionTwo .secB{
    padding-top: 0;
}
.sectionTwo .secB h2{
    background-color: #004469;
    padding-top: 10px;
    margin: 3px;
}
.sectionTwo .secB p{
    font-size: 20px;
}
.sectionTwo .secB form input{
    height: 20px;
    font-size: 10px;
}
.sectionTwo .secB>img{
    width: 95%;
    margin-top: 5px;
} 
.sectionTwo .secB a{
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 15px 0 9px;
}
/* --------------------------------media-------------------------------- */
@media screen and (max-width: 1000px) {
    .sectionOne .secA, .sectionOne .secB, .sectionTwo .secA, .sectionTwo .secB{
        float: none;
        padding-top: 1px;
        padding-bottom: 1px;
        margin: 3px auto;
    }
  }